* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  background-color: #121212;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.swal-modal,
.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners,
.swal-icon--success,
.swal-title {
  background: rgb(49, 49, 49);
  border-color: rgb(49, 49, 49);
  color: white;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3a3a3a;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
  }